In [1]:
#load the file

In [8]:
library(tidyverse)

In [10]:
exam_data <- read_csv("exams.csv")
exam_data

Rows: 1000 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): gender, race/ethnicity, parental level of education, lunch, test pr...
dbl (3): math score, reading score, writing score

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     gender race/ethnicity parental level of education lunch
1    male   group A        high school                 standard
2    female group D        some high school            free/reduced
3    male   group E        some college                free/reduced
4    male   group B        high school                 standard
5    male   group E        associate's degree          standard
6    female group D        high school                 standard
7    female group A        bachelor's degree           standard
8    male   group E        some college                standard
9    male   group D        high school                 standard
10   male   group C        some college                free/reduced
11   male   group E        some college                standard
12   female group D        high school                 standard
13   male   group D        associate's degree          standard
14   male   group C        high school                 standard
15   male   group E        some high school            standard
16   male   group E        associate's degree          free/reduced
17   male   group B        high school                 standard
18   female group C        associate's degree          standard
19   female group C        associate's degree          free/reduced
20   male   group C        some college                free/reduced
21   female group C        associate's degree          standard
22   male   group C        associate's degree          standard
23   male   group B        some college                standard
24   female group B        some college                free/reduced
25   male   group E        some high school            free/reduced
26   male   group C        high school                 free/reduced
27   female group C        some high school            standard
28   male   group E        high school                 standard
29   female group B        high school                 standard
30   female group A        some high school            free/reduced
⋮    ⋮      ⋮              ⋮                           ⋮
971  female group D        some high school            standard
972  male   group C        some high school            standard
973  female group E        associate's degree          standard
974  male   group C        associate's degree          standard
975  female group B        some high school            standard
976  male   group C        associate's degree          standard
977  female group B        some college                free/reduced
978  female group C        some high school            free/reduced
979  male   group C        high school                 free/reduced
980  female group B        bachelor's degree           free/reduced
981  female group C        some high school            free/reduced
982  male   group C        some college                standard
983  male   group C        master's degree             free/reduced
984  male   group A        some high school            standard
985  female group D        high school                 standard
986  male   group E        associate's degree          standard
987  male   group E        some college                free/reduced
988  male   group A        some college                standard
989  female group B        some college                standard
990  male   group D        some college                standard
991  male   group D        some college                standard
992  female group C        associate's degree          standard
993  male   group C        some college                standard
994  female group A        associate's degree          standard
995  male   group E        high school                 free/reduced
996  male   group C        high school                 standard
997  male   group D        associate's degree          free/reduced
998  female group C        some high school            free/reduced
999  female group C        some college                standard
1000 male   group A        some college                standard
     test preparation course math score reading score writing score
1    completed               67         67            63
2    none                    40         59            55
3    none                    59         60            50
4    none                    77         78            68
5    completed               78         73            68
6    none                    63         77            76
7    none                    62         59            63
8    completed               93         88            84
9    none                    63         56            65
10   none                    47         42            45
11   completed               99         83            85
12   completed               80         87            90
13   completed               77         87            85
14   completed               74         74            73
15   completed               81         87            85
16   none                    69         61            57
17   none                    58         47            42
18   completed               54         62            65
19   none                    23         44            44
20   none                    39         32            31
21   none                    83         76            88
22   none                    58         52            55
23   completed               71         69            73
24   none                    44         55            54
25   none                    46         38            32
26   none                    51         45            42
27   none                    53         60            56
28   none                    71         68            60
29   completed               74         89            89
30   none                    33         54            51
⋮    ⋮                       ⋮          ⋮             ⋮
971  completed               85         100           97
972  none                    64          51           44
973  none                    81          77           74
974  none                    78          71           67
975  none                    59          59           58
976  none                    74          76           70
977  completed               31          29           35
978  completed               54          55           65
979  none                    51          51           45
980  completed               57          65           68
981  none                    39          50           49
982  none                    64          48           48
983  completed               69          79           72
984  none                    58          50           47
985  none                    63          71           75
986  none                    74          73           67
987  none                    78          84           77
988  completed               78          78           74
989  none                    75          76           81
990  completed               70          60           65
991  none                    67          55           53
992  none                    87          93           88
993  none                    69          63           66
994  none                    58          54           58
995  completed               86          82           75
996  none                    73          70           65
997  completed               85          91           92
998  none                    32          35           41
999  none                    73          74           82
1000 completed               65          60           62

In [11]:
colnames(exam_data) <- make.names(colnames(exam_data))
exam_data

     gender race.ethnicity parental.level.of.education lunch
1    male   group A        high school                 standard
2    female group D        some high school            free/reduced
3    male   group E        some college                free/reduced
4    male   group B        high school                 standard
5    male   group E        associate's degree          standard
6    female group D        high school                 standard
7    female group A        bachelor's degree           standard
8    male   group E        some college                standard
9    male   group D        high school                 standard
10   male   group C        some college                free/reduced
11   male   group E        some college                standard
12   female group D        high school                 standard
13   male   group D        associate's degree          standard
14   male   group C        high school                 standard
15   male   group E        some high school            standard
16   male   group E        associate's degree          free/reduced
17   male   group B        high school                 standard
18   female group C        associate's degree          standard
19   female group C        associate's degree          free/reduced
20   male   group C        some college                free/reduced
21   female group C        associate's degree          standard
22   male   group C        associate's degree          standard
23   male   group B        some college                standard
24   female group B        some college                free/reduced
25   male   group E        some high school            free/reduced
26   male   group C        high school                 free/reduced
27   female group C        some high school            standard
28   male   group E        high school                 standard
29   female group B        high school                 standard
30   female group A        some high school            free/reduced
⋮    ⋮      ⋮              ⋮                           ⋮
971  female group D        some high school            standard
972  male   group C        some high school            standard
973  female group E        associate's degree          standard
974  male   group C        associate's degree          standard
975  female group B        some high school            standard
976  male   group C        associate's degree          standard
977  female group B        some college                free/reduced
978  female group C        some high school            free/reduced
979  male   group C        high school                 free/reduced
980  female group B        bachelor's degree           free/reduced
981  female group C        some high school            free/reduced
982  male   group C        some college                standard
983  male   group C        master's degree             free/reduced
984  male   group A        some high school            standard
985  female group D        high school                 standard
986  male   group E        associate's degree          standard
987  male   group E        some college                free/reduced
988  male   group A        some college                standard
989  female group B        some college                standard
990  male   group D        some college                standard
991  male   group D        some college                standard
992  female group C        associate's degree          standard
993  male   group C        some college                standard
994  female group A        associate's degree          standard
995  male   group E        high school                 free/reduced
996  male   group C        high school                 standard
997  male   group D        associate's degree          free/reduced
998  female group C        some high school            free/reduced
999  female group C        some college                standard
1000 male   group A        some college                standard
     test.preparation.course math.score reading.score writing.score
1    completed               67         67            63
2    none                    40         59            55
3    none                    59         60            50
4    none                    77         78            68
5    completed               78         73            68
6    none                    63         77            76
7    none                    62         59            63
8    completed               93         88            84
9    none                    63         56            65
10   none                    47         42            45
11   completed               99         83            85
12   completed               80         87            90
13   completed               77         87            85
14   completed               74         74            73
15   completed               81         87            85
16   none                    69         61            57
17   none                    58         47            42
18   completed               54         62            65
19   none                    23         44            44
20   none                    39         32            31
21   none                    83         76            88
22   none                    58         52            55
23   completed               71         69            73
24   none                    44         55            54
25   none                    46         38            32
26   none                    51         45            42
27   none                    53         60            56
28   none                    71         68            60
29   completed               74         89            89
30   none                    33         54            51
⋮    ⋮                       ⋮          ⋮             ⋮
971  completed               85         100           97
972  none                    64          51           44
973  none                    81          77           74
974  none                    78          71           67
975  none                    59          59           58
976  none                    74          76           70
977  completed               31          29           35
978  completed               54          55           65
979  none                    51          51           45
980  completed               57          65           68
981  none                    39          50           49
982  none                    64          48           48
983  completed               69          79           72
984  none                    58          50           47
985  none                    63          71           75
986  none                    74          73           67
987  none                    78          84           77
988  completed               78          78           74
989  none                    75          76           81
990  completed               70          60           65
991  none                    67          55           53
992  none                    87          93           88
993  none                    69          63           66
994  none                    58          54           58
995  completed               86          82           75
996  none                    73          70           65
997  completed               85          91           92
998  none                    32          35           41
999  none                    73          74           82
1000 completed               65          60           62

In [12]:
exam_data |>
mutate(test.preparation.course = as_factor(test.preparation.course)) |>
select(test.preparation.course, math.score, reading.score, writing.score)

     test.preparation.course math.score reading.score writing.score
1    completed               67         67            63
2    none                    40         59            55
3    none                    59         60            50
4    none                    77         78            68
5    completed               78         73            68
6    none                    63         77            76
7    none                    62         59            63
8    completed               93         88            84
9    none                    63         56            65
10   none                    47         42            45
11   completed               99         83            85
12   completed               80         87            90
13   completed               77         87            85
14   completed               74         74            73
15   completed               81         87            85
16   none                    69         61            57
17   none                    58         47            42
18   completed               54         62            65
19   none                    23         44            44
20   none                    39         32            31
21   none                    83         76            88
22   none                    58         52            55
23   completed               71         69            73
24   none                    44         55            54
25   none                    46         38            32
26   none                    51         45            42
27   none                    53         60            56
28   none                    71         68            60
29   completed               74         89            89
30   none                    33         54            51
⋮    ⋮                       ⋮          ⋮             ⋮
971  completed               85         100           97
972  none                    64          51           44
973  none                    81          77           74
974  none                    78          71           67
975  none                    59          59           58
976  none                    74          76           70
977  completed               31          29           35
978  completed               54          55           65
979  none                    51          51           45
980  completed               57          65           68
981  none                    39          50           49
982  none                    64          48           48
983  completed               69          79           72
984  none                    58          50           47
985  none                    63          71           75
986  none                    74          73           67
987  none                    78          84           77
988  completed               78          78           74
989  none                    75          76           81
990  completed               70          60           65
991  none                    67          55           53
992  none                    87          93           88
993  none                    69          63           66
994  none                    58          54           58
995  completed               86          82           75
996  none                    73          70           65
997  completed               85          91           92
998  none                    32          35           41
999  none                    73          74           82
1000 completed               65          60           62

In [32]:
exam_data |>
mutate(test.preparation.course = if_else(test.preparation.course=completed, true))
mutate(test.preparation.course = ifelse(test.preparation.course == "completed", 1))

ERROR: Error in `mutate()`:
! Problem while computing `test.preparation.course =
  if_else(test.preparation.course = completed, true)`.
Caused by error in `if_else()`:
! unused argument (test.preparation.course = completed)